{% extends "Index.html" %}
{% load static %}

{% block title %}
    Password
{% endblock title %}

{% block content %}
<div class="d-flex justify-content-end py-3">
    <button id="openPasswordModal"  type="button" class="btn btn-primary d-flex gap-1 align-items-center ">
       Add password 
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
    </button>
</div>
<div class="container mx-auto">
    <table class="table" id="passworddatatable" >
        <thead>
          <tr>
            <th scope="col">{{form.website.label}}</th>
            <th scope="col">{{form.username.label}}</th>
            <th scope="col">{{form.password.label}}</th>
            <th style="width:200px;"   scope="col">{{form.remarks.label}}</th>
            <th style="width:200px;"   scope="col">Action</th>
          </tr>
        </thead>
        {% if password_data %}
          <tbody>
            {% for passfield in password_data %}
                <tr>
                  <td>{{passfield.website}}</td>
                  <td>{{passfield.username}}</td>
                  <td>{{passfield.password}}</td>
                  <td>
                    <div class="text-wrap w-100"  style="width:400px;">
                      {{passfield.remarks}}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex gap-2">
                      <button   data-id="{{passfield.id}}"   class="py-2 btn btn-sm btn-primary d-flex justify-content-between align-items-center updatePassword  ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                      </button>
                      <button data-id="{{passfield.id}}"  class="py-2  btn btn-sm btn-danger d-flex justify-content-between align-items-centerdanger deletepassword ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>
            {% endfor %}
           
          </tbody>
        {% else %}
        <tbody>
          <div class="alert alert-danger  text-center" role="alert">
            No  records
          </div>
        </tbody>
        
        {% endif %}
       
      </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-success d-none text-center" role="alert">
              
            </div>
            <div class="alert alert-danger d-none text-center" role="alert">
              
            </div>
            <form id="passwordForm">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="{{form.website.id_for_label}}" class="form-label">{{form.website.label}}</label>
                  {{form.website}}
                </div>
                <div class="mb-3">
                    <label for="{{form.username.id_for_label}}" class="form-label">{{form.username.label}}</label>
                    {{form.username}}
                  </div>
                  <div class="mb-3">
                    <label for="{{form.password.id_for_label}}" class="form-label">{{form.password.label}}</label>
                    {{form.password}}
                  </div>
                  <div class="mb-3">
                    <label for="{{form.remarks.id_for_label}}" class="form-label">{{form.remarks.label}}</label>
                    {{form.remarks}}
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="savePassword" data-update=""   class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %}

{% block script %}
  <script>
    const sendPassword = document.querySelector("#savePassword")
    {% comment %} const updatePassword = $(".") {% endcomment %}
     
    function Hidealert(){
      $(".alert-success").addClass("d-none")
      $(".alert-danger").addClass("d-none")
    }

    $("#openPasswordModal").on("click", () => {
      Hidealert()
      $("#passwordForm")[0].reset()
      $("#exampleModalLabel").text("Add password")
      $("#savePassword").text("Save")
      $("#exampleModal").modal("show")
    })

    {% comment %} $(".deletepassword").on("click", (e) => {
      fetch("/password",{
        method : "DELETE"
        header : {
          'X-CSRFToken' : document.querySelector("[name='csrfmiddlewaretoken']").value
        },
      }).then(data => data.json()).then(data =>  console.log(data)).catch(err => console.log(err))
    }) {% endcomment %}
   

    
    sendPassword.addEventListener("click",async (e) => {
      let {target} = e
      try{
        const form = document.querySelector("#passwordForm")
        const formData = new FormData(form)

        let obj = {
          header : {
            'X-CSRFToken' : document.querySelector("[name='csrfmiddlewaretoken']").value
          },
          body : formData,
        }
        Hidealert()

        if( $(target).text().trim() === "Update"){
          obj["method"] = "POST"
          formData.append("action","update_data")
          formData.append("pk",$("#savePassword")[0].dataset.update)
        }else {
          obj["method"] =  "POST"
          formData.append("action","add_data")
        } 

        

        const sendData = await fetch("/password",obj).then(data => data.json())

        if(sendData.err_msg){
          $(".alert-danger").text(sendData.err_msg)
          $(".alert-danger").removeClass("d-none")
          setTimeout(Hidealert, 1000)
        }

        if (sendData.success_msg){
          $(".alert-success").text(sendData.success_msg)
          $(".alert-success").removeClass("d-none")
          console.log(sendData,"sendDatasendData")
          setTimeout(() => {
            Hidealert()
            $("#exampleModal").modal("hide")
            if(sendData.action){
              if(sendData.action === "reload_page"){
                location.reload()
              }
            }
          }, 1000)
        }
      }catch(err){
        console.log(err,"========")
      }
    })

    console.log( $("#passworddatatable"))

    $("#passworddatatable").on("click", (e) => {
      let {target} = e
      if(target.closest(".updatePassword")){
        let id = target.closest(".updatePassword").dataset.id
        
        $("#savePassword")[0].dataset.update = id
        if(id){
          fetch(`/password?action=filter&id=${id}`).then(data => data.json()).then(data => {
            console.log(data)
            
            if (data.success_msg){
              $(".alert-success").text(data.success_msg)
              $(".alert-success").removeClass("d-none")

              $("[name='website']").val(data.data.website)
              $("[name='username']").val(data.data.username)
              $("[name='password']").val(data.data.password)
              $("[name='remarks']").val(data.data.remarks)

              $("#exampleModalLabel").text("Update password")
              $("#savePassword").text("Update")
              $("#exampleModal").modal("show")
              setTimeout(() => {
                Hidealert()
                {% comment %} $("#exampleModal").modal("hide") {% endcomment %}
              }, 1000)
            }

          })
          .catch(err => console.log(err))
        } 
      }

      if(target.closest(".deletepassword")){
      let id = target.closest(".deletepassword").dataset.id
        let formdata = new FormData()
        formdata.append("id", id)
        formdata.append("action", "delete_data")

        fetch("/password", {
          method : "POST",
          headers : {
            'X-CSRFToken' : document.querySelector("[name='csrfmiddlewaretoken']").value
          },
          body: formdata
        }).then(data => data.json()).then(data => {
          if(data.action){
            if (data.action === "reload_page"){
              location.reload()
            }
          }
        })
        {% comment %} console.log("errr") {% endcomment %}
      }

      
    })
    

    
  </script>

{% endblock script %}